@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');

.nyan {
    display: flex;
    justify-content: center;
}

body{
    background-color: pink;
}

p{
    color: purple;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    color: red;
}

a{
  font-family: "Coral Pixels", serif;
}